;configuration file

[engine]
path = [enter full absolute path folder here]/lc0.exe
;path = [enter full absolute path folder here]/stockfish_10_x64.exe

[moves]
;pick one:
;depth = 3
;nodes = 20
movetime = 2000

[uci_options]
;check engine documentation for available options
;option[] = name Threads value 4

[pgn]
Event = 'Casual Game'
Site = 'London, UK'
Player = 'Human player'
